.App {
  text-align: center;
  max-width: 650px;
  padding-inline: 30px;
  margin-inline: auto;
}

.App .Calc-input{
  text-align: start;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 70px;
  row-gap: 10px;
  margin-bottom: 40px;
}

.Calc-input input[type='range']{
  margin-top: 30px;
}

.App .Calc-output-items{
  text-align: start;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.App .Calc-output-items > div{
  border-right: 1px solid gray;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

.App .Calc-output-items > div:first-of-type{
  margin-left: 0;
}

.App .Calc-output-items > div:last-of-type{
  border-right: none;
}

.App .Calc-output-items p{
  margin-block: 5px;
}

/* Mobile view */
@media only screen and (max-width: 600px){
  .App .Calc-input{
    grid-template-columns: repeat(1, 1fr);
  }

  .App .Calc-output-items{
    grid-template-columns: repeat(1, 1fr);
    row-gap: 15px;
  }

  .App .Calc-output-items > div{
    margin-left: 0;
    border: none;
  }
}
