.App {
  text-align: center;
  max-width: 650px;
  padding-inline: 30px;
}

.App .Calc-input{
  text-align: start;
  display: flex;
}

.App .Calc-input .Input-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.App .Calc-input .Input-container input,
.App .Calc-input .Input-container select{
  margin-bottom: 15px;
}
